!!! 5
%html
  %head
    %title #{@title}

    %link{:href=>"/stylesheets/screen.css", :media=>"screen, projection", :rel=>"stylesheet", :type=>"text/css"}
    %link{:href=>"/stylesheets/print.css", :media=>"print", :rel=>"stylesheet", :type=>"text/css"}
    /[if lt IE 8]
      %link{:href=>"/stylesheets/ie.css", :media=>"screen, projectio", :rel=>"stylesheet", :type=>"text/css"}

    %link{:rel=>"icon", :type=>"image/png", :href=>"http://cre8ivethought.s3.amazonaws.com/images/favicon.png"}
  %body.three-col.bp
    #container
      #left-side
        &nbsp;
        
      #main-area
        #header
          = haml :"_header_#{$header_for}", :layout => false
      
        #content
          = yield
          %br
          %br
          = haml :'_about', :layout => false

        #footer
          &nbsp;

        = haml :'_license', :layout => false

      #right-side
        &nbsp;

    %script{:type=>"text/javascript"}
      (function() {
      var links = document.getElementsByTagName('a');
      var query = '?';
      for(var i = 0; i < links.length; i++) {
      if(links[i].href.indexOf('#disqus_thread') >= 0) {
      query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
      }
      }
      document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/cre8ivethought/get_num_replies.js' + query + '"></' + 'script>');
      })();

    %script{:type=>"text/javascript"}
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    
    %script{:type=>"text/javascript"}
      try {
      var pageTracker = _gat._getTracker("UA-116586-8");
      pageTracker._setDomainName(".cre8ivethought.com");
      pageTracker._trackPageview();
      } catch(err) {}
