<?xml version="1.0" encoding="UTF-8"?>
%feed{:xmlns=>"http://www.w3.org/2005/Atom"}
  %title 
    = blog_title
  <id>#{blog_url}</id>
  %author 
    %name 
      Mark Nijhof
  %updated #{articles.first.date_as_date.iso8601}
  - for article in articles
    %entry
      %title 
        =article.title
      %link{:rel=>"alternate", :href=>"#{article.url}"}
      %link{:rel=>"self", :href=>"#{rss_url}"}
      %id 
        =article.url
      %published 
        =article.date_as_date.iso8601
      %updated 
        =article.date_as_date.iso8601
      %author 
        %name 
          Mark Nijhof
      %summary{:type=>"html"} 
        /&=article.summary
      - no_script_html = ""
      - if /<script src=\"http:\/\/gist.github.com/.match(article.body)
        - no_script_html = "<noscript><p style='margin-left: 10px; margin-right: 10px;'><i>The RSS reader you are using doesn't support JavaScript; because of this you will not see the embedded code gists. Consider opening the <a href='#{article.url}'>post</a> in your browser instead.</i></p></noscript>"
      %content{:type=>"html"} 
        /&=no_script_html + article.body
