%article.post

  %article
    %header
      %h1
        %a{:href=>"#{post.url}"}
          #{post.title}

    .content
      #{post.summary}

    %footer
      %span.date_list 
        #{post.date}
        = " (last updated on #{post.updated})" unless post.updated == post.date
      %br
      %span.date_list 
        %a.comments_link{:href=>"#{post.url}#disqus_thread"}
          Comments
      %br
      %br
      %br
